.button {
    padding: 15px 45px;
    border-radius: 10px;
    background-color: var(--orange-50);
    font-size: 18px;
    font-weight: bold;
    color: var(--white-50);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: var(--green-50)
    }
}