.container {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(1, 11, 14, 0.65);
    z-index: 999;

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        @media screen and (max-width: 769px) {
            width: 90%;
        }

        .btnClose {
            width: 100%;
            text-align: end;

            button {
                padding: 8px;
                color: #F9F2F3;
                background-color: #E67420;
                border: none;
                cursor: pointer;
                font-size: 14px;
                border-radius: 10px;
                margin-bottom: 40px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: green;
                }
            }
        }

        h2 {
            width: 100%;
            color: #F9F2F3;
            text-align: left;
        }

        input {
            width: 45rem;
            height: 60px;
            padding: 10px;
            margin: 5px 0 25px 0;
            border: none;
            border-radius: 10px;
            background-color: #F0A9A0;
            font-size: 16px;

            @media screen and (max-width: 769px) {
                width: 100%;
            }
        }

        input::placeholder {
            color: black;
        }

    }
}