.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--red-50);

    .title {
        top: 0;
        width: 100%;
        padding: 2rem;
        text-align: center;
        position: sticky;
        background-color: var(--red-50);

        @media screen and (max-width:769px) {
            position: static;
        }

        h1 {
            color: var(--white-50);

            @media screen and (max-width:769px) {
                font-size: 26px;
            }
        }

    }

    .wrapper {
        width: 100%;
        display: flex;
        padding: 2rem;

        @media screen and (max-width:769px) {
            padding: 0;
            display: block;
        }
    }
}