* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --white-50: #F9F2F3;
    --orange-50: #E67420;
    --red-50: #E83A30;
    --pink-50: #F0A9A0;
    --yellow-50: #EABE31;
    --green-50: rgb(29, 172, 29);
}